{% extends './base.html'%}
{% load static %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="condition">
          {% if errornum.errornum == 1%}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            파일을 입력하세요!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endif %}
          {% if errornum.errornum == 2%}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            xlsx 파일을 입력하세요!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endif %}
          {% if errornum.errornum == 3%}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            조건에 맞게 Initial Voltage Data을 입력하세요!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endif %}
          {% if errornum.errornum == 4%}
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            조건에 맞게 Equipment Data을 입력하세요!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
          {% endif %}
          <form  method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-check">
              <input class="form-check-input" type="radio" name="isexample" value="False" id="direct" onclick="selectDisable(),fileActive(),Hide()" checked>
              <label class="form-check-label label-big" for="direct">
                직접입력
              </label>
            </div>
            <div class="mb-3">
              <input class="form-control" type="file" name="excelFile" id="formFile" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="isexample" value="True" id="example" onclick="selectActive(),fileDisable(),Reveal()">
              <label class="form-check-label label-big" for="example">
                예제
              </label>
            </div>
            <fieldset id = 'fileex' disabled="disabled">
              <select class="form-select" id="exampleselect" name="exampleselect" onchange="Change()">
                <option value="7">14회 전력산업 소프트웨어 경진대회, AC 전력망의 고장계산 문제</option>
                <option value="1">Glover,Sarma, POWER SYSTEM Analysis & Design ex 9.8</option>
                <option value="2">Saadat, Power System Analysis ex 9.8</option>
                <option value="4">Saadat, Power System Analysis ex 9.9-1</option>
                <option value="5">Saadat, Power System Analysis ex 9.9-2</option>
                <option value="3">Saadat, Power System Analysis ex 10.7</option>
                <option value="6">Saadat, Power System Analysis ex 10.8</option>
              </select>
            </fieldset>
            <br>
            <button type="submit" class="btn btn-primary form-next">입력</button>
            <div id="d1" style="display:none">
              <img src="{% static 'cal/images/glover9.8.jpg'%}">
            </div>
            <div id="d2" style="display:none">
              <img src="{% static 'cal/images/Saadat9.8.png'%}">
            </div>
            <div id="d3" style="display:none">
              <img src="{% static 'cal/images/Saadat10.7.png'%}">
            </div>
            <div id="d4" style="display:none">
              <img src="{% static 'cal/images/Saadat9.9.png'%}">
            </div>
            <div id="d5" style="display:none">
              <img src="{% static 'cal/images/Saadat10.8.png'%}">
            </div>
            <div id="d6" style="display:none">
              <img src="{% static 'cal/images/contest.png'%}">
            </div>
          </form>
        </div>
      </div>
    </div>
    
  </div>
{% endblock content %}

{% block script %}
<script src={%static 'cal/js/file.js'%}></script>
{% endblock script %}