{% extends './base.html'%}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'cal/css/table_label.css'%}">
<link rel="stylesheet" href="{% static 'cal/css/solution_img.css'%}">
{% endblock css %}
{% block content %}
<div class="main">
  <input type="radio" id="tab-1" name="show" checked/>
    <div class="tab">
      <label for="tab-1">After Flow calculations</label>
    </div>
    <div class="content">
      <div class="content-dis">
        <div class="border">
          <div class="container  fault">
            <table class="table table-striped">
              <thead>
                <tr>
                  <td>Bus No</td>
                  <td>Magnitude</td>
                  <td>Angle(Deg)</td>
                  <td>Generator MW</td>
                  <td>Generator Mvar</td>
                  <td>Load MW</td>
                  <td>Load Mvar</td>
                </tr>
              </thead>
              <tbody>
                {% for i in afterflow %}
                <tr>
                  <td>{{i.Bus_No}}</td>
                  <td>{{i.Voltage_Mag|floatformat:-4}}</td>
                  <td>{{i.Voltage_Deg|floatformat:-4}}</td>
                  <td>{{i.Generator_MW|floatformat:-4}}</td>
                  <td>{{i.Generator_Mvar|floatformat:-4}}</td>
                  <td>{{i.Load_MW|floatformat:-4}}</td>
                  <td>{{i.Load_Mvar|floatformat:-4}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <a class="btn btn-secondary prev" href="{% url 'initial' %}">이전</a>
          {% if fault_con.is_bus_fault %}
            {% if fault_con.fault_type == 0 %}
              <a class="btn btn-primary next" href="{% url 'ybus' %}">다음</a>
            {% else%}
              <a class="btn btn-primary next" href="{% url 'transformer' %}">다음</a>
            {% endif %}
          {% else %}
            <a class="btn btn-primary next" href="{% url 'slider' %}">다음</a>
          {% endif %}
          <hr>
          {% if fault_con.is_bus_fault %}
            {% if fault_con.fault_type == 0 %}
              {% if fault_con.is_shunt %}
                {% if fault_con.is_load_effect %}
                  <img src="{% static 'cal/images/ybusbload.png'%}">
                {% else %}
                  <img src="{% static 'cal/images/ybusb.png'%}">
                {% endif %}
              {% else %}
                {% if fault_con.is_load_effect %}
                  <img src="{% static 'cal/images/ybusload.png'%}">
                {% else %}
                  <img src="{% static 'cal/images/ybus.png'%}">
                {% endif %}
              {% endif%}
            {% else%}
              <img src="{% static 'cal/images/zero-sequence.png'%}">
            {% endif %}
          {% else %}
            <img src="{% static 'cal/images/slider.png'%}">
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content%}