{% extends './base.html'%}
{% load static %}

{% block content %}
<div class="main">
  <input type="radio" id="tab-1" name="show" checked/>
    <input type="radio" id="tab-2" name="show" />
    <div class="tab other">
      <label for="tab-1">Initial Bus Data</label>
      <label for="tab-2">Initial Line Data</label>
    </div>
    <div class="content">
      <div class="content-dis">
        <div class="border">
          <div class="container  fault">
            <table class="table table-striped">
              {% if condition.is_flow %}
                <thead>
                  <tr>
                    <td>Bus No</td>
                    <td>Voltage Mag</td>
                    <td>Voltage Deg</td>
                    <td>Generator MW</td>
                    <td>Generator Mvar</td>
                    <td>Load MW</td>
                    <td>Load Mvar</td>
                    <td>Qmax</td>
                    <td>Qmin</td>
                    <td>Bus Code</td>
                  </tr>
                </thead>
                <tbody>
                  {% for i in busdata %}
                  <tr>
                    <td>{{i.bus_num}}</td>
                    <td>{{i.Voltage_Mag|floatformat:-4}}</td>
                    <td>{{i.Voltage_Deg|floatformat:-4}}</td>
                    <td>{{i.Generator_MW|floatformat:-4}}</td>
                    <td>{{i.Generator_Mvar|floatformat:-4}}</td>
                    <td>{{i.Load_MW|floatformat:-4}}</td>
                    <td>{{i.Load_Mvar|floatformat:-4}}</td>
                    <td>{{i.Qmax|floatformat:-4}}</td>
                    <td>{{i.Qmin|floatformat:-4}}</td>
                    <td>{{i.Bus_Code}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              {% else %}
                <thead>
                  <tr>
                    <td>Bus No</td>
                    <td>Voltage Mag</td>
                    <td>Voltage Deg</td>
                  </tr>
                </thead>
                <tbody>
                  {% for i in busdata %}
                  <tr>
                    <td>{{i.bus_num}}</td>
                    <td>{{i.Voltage_Mag|floatformat:-4}}</td>
                    <td>{{i.Voltage_Deg|floatformat:-4}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              {% endif %}
            </table>
          </div>
        </div>
      </div>
      <div class="content-dis">
        <div class="border">
          <div class="container  fault">
            <table class="table table-striped">
              {% if condition.is_not_symmetry %}
                <thead>
                  <tr>
                    <td>From Bus</td>
                    <td>To Bus</td>
                    <td>R(pu)</td>
                    <td>X(pu)</td>
                    <td>B(pu)</td>
                    <td>negative R(pu)</td>
                    <td>negative X(pu)</td>
                    <td>zero R(pu)</td>
                    <td>zero X(pu)</td>
                    <td>Xn(pu)</td>
                    <td>zero B(pu)</td>
                    <td>line type</td>
                  </tr>
                </thead>
                <tbody>
                  {% for i in linedata %}
                  <tr>
                    <td>{{i.from_bus}}</td>
                    <td>{{i.to_bus}}</td>
                    <td>{{i.R|floatformat:-4}}</td>
                    <td>{{i.X|floatformat:-4}}</td>
                    <td>{{i.B|floatformat:-4}}</td>
                    <td>{{i.negative_R|floatformat:-4}}</td>
                    <td>{{i.negative_X|floatformat:-4}}</td>
                    <td>{{i.zero_R|floatformat:-4}}</td>
                    <td>{{i.zero_X|floatformat:-4}}</td>
                    <td>{{i.Xn|floatformat:-4}}</td>
                    <td>{{i.zero_B|floatformat:-4}}</td>
                    <td>{{i.line_type|floatformat:-4}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              {% else %}
                <thead>
                  <tr>
                    <td>From Bus</td>
                    <td>To Bus</td>
                    <td>R(pu)</td>
                    <td>X(pu)</td>
                    <td>B(pu)</td>
                  </tr>
                </thead>
                <tbody>
                  {% for i in linedata %}
                  <tr>
                    <td>{{i.from_bus}}</td>
                    <td>{{i.to_bus}}</td>
                    <td>{{i.R|floatformat:-4}}</td>
                    <td>{{i.X|floatformat:-4}}</td>
                    <td>{{i.B|floatformat:-4}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              {% endif %}
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if faultcon.is_flow %}
    <a class="btn btn-primary" href="{% url 'flow' %}">다음</a>
  {% else %}
    {% if faultcon.is_bus_fault %}
      {% if faultcon.fault_type == 0 %}
        <a class="btn btn-primary" href="{% url 'ybus' %}">다음</a>
      {% else%}
        <a class="btn btn-primary" href="{% url 'transformer' %}">다음</a>
      {% endif %}
    {% else %}
      <a class="btn btn-primary" href="{% url 'slider' %}">다음</a>
    {% endif %}
  {% endif %}
  {% if faultcon.is_flow %}
    <img src="{% static 'cal/images/gaussflow.png'%}">
  {% else %}
    {% if faultcon.is_bus_fault %}
      {% if faultcon.fault_type == 0 %}
        {% if fault_con.is_shunt %}
          {% if fault_con.is_load_effect %}
            <img src="{% static 'cal/images/ybusbload.png'%}">
          {% else %}
            <img src="{% static 'cal/images/ybusb.png'%}">
          {% endif %}
        {% else %}
          {% if fault_con.is_load_effect %}
            <img src="{% static 'cal/images/ybusload.png'%}">
          {% else %}
            <img src="{% static 'cal/images/ybus.png'%}">
          {% endif %}
        {% endif%}
      {% else%}
        <img src="{% static 'cal/images/zero-sequence.png'%}">
      {% endif %}
    {% else %}
    <img src="{% static 'cal/images/slider.png'%}">
    {% endif %}
  {% endif %}
</div>
{% endblock content%}