{% extends './base.html'%}
{% load static %}

{% block content %}
{% if faultcon.fault_type == 0 %}
<div class="main">
  <input type="radio" id="tab-1" name="show" checked/>
  <input type="radio" id="tab-2" name="show" />
  <div class="tab zero">
    <label for="tab-1">Fault Voltage</label>
    <label for="tab-2">Fault Current</label>
  </div>
  <div class="content">
    <div class="content-dis">
      <div class="border">
        <div class="container  fault">
          <table class="table table-striped">
            <thead>
              <tr>
                <td>Bus No</td>
                <td>Magnitude</td>
                <td>Angle</td>
              </tr>
            </thead>
            <tbody>
              {% for threefaultv in threefaultv %}
              <tr>
                <td>{{threefaultv.Bus_No}}</td>
                <td>{{threefaultv.Voltage_Mag|floatformat:-4}}</td>
                <td>{{threefaultv.Voltage_Deg|floatformat:-4}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <a class="btn btn-primary" href="{% url 'zbus' %}">이전</a>
        <a class="btn btn-primary" href="{% url 'result' %}">종합</a>
      </div>
    </div>
    <div class="content-dis">
      <div class="border">
        <div class="container  fault">
            <table class="table table-striped">
              <thead>
                <tr>
                  <td>From Bus</td>
                  <td>To Bus</td>
                  <td>Magnitude</td>
                  <td>Angle</td>
                </tr>
              </thead>
              <tbody>
                {% for threefaulti in threefaulti %}
                <tr>
                  <td>{{threefaulti.From_Bus}}</td>
                  {% if threefaulti.To_Bus == -1%}
                    <td>F</td>
                  {% else%}
                    <td>{{threefaulti.To_Bus}}</td>
                  {% endif%}
                  <td>{{threefaulti.Current_Mag|floatformat:-4}}</td>
                  <td>{{threefaulti.Current_Deg|floatformat:-4}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
        <a class="btn btn-primary" href="{% url 'zbus' %}">이전</a>
        <a class="btn btn-primary" href="{% url 'result' %}">종합</a>
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="main">
  <input type="radio" id="tab-1" name="show" checked/>
    <input type="radio" id="tab-2" name="show" />
    <div class="tab other">
      <label for="tab-1">Fault Phase Voltage</label>
      <label for="tab-2">Fault Phase Current</label>
    </div>
    <div class="content">
      <div class="content-dis">
        <div class="border">
          <div class="container  fault">
            <table class="table table-striped">
              <thead>
                <tr>
                  <td>Bus No</td>
                  <td>Phase A Mag</td>
                  <td>Phase A Deg</td>
                  <td>Phase B Mag</td>
                  <td>Phase B Deg</td>
                  <td>Phase C Mag</td>
                  <td>Phase C Deg</td>
                </tr>
              </thead>
              <tbody>
                {% for otherfaultv in otherfaultv %}
                <tr>
                  <td>{{otherfaultv.Bus_No}}</td>
                  <td>{{otherfaultv.Phase_A_Mag|floatformat:-4}}</td>
                  <td>{{otherfaultv.Phase_A_Deg|floatformat:-4}}</td>
                  <td>{{otherfaultv.Phase_B_Mag|floatformat:-4}}</td>
                  <td>{{otherfaultv.Phase_B_Deg|floatformat:-4}}</td>
                  <td>{{otherfaultv.Phase_C_Mag|floatformat:-4}}</td>
                  <td>{{otherfaultv.Phase_C_Deg|floatformat:-4}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <a class="btn btn-primary" href="{% url 'sequence' %}">이전</a>
          <a class="btn btn-primary" href="{% url 'result' %}">종합</a>
        </div>
      </div>
      <div class="content-dis">
        <div class="border">
          <div class="container  fault">
            <table class="table table-striped">
              <thead>
                <tr>
                  <td>From Bus</td>
                  <td>To Bus</td>
                  <td>Phase A Mag</td>
                  <td>Phase A Deg</td>
                  <td>Phase B Mag</td>
                  <td>Phase B Deg</td>
                  <td>Phase C Mag</td>
                  <td>Phase C Deg</td>
                </tr>
              </thead>
              <tbody>
                {% for otherfaulti in otherfaulti %}
                <tr>
                  <td>{{otherfaulti.From_Bus}}</td>
                  {% if otherfaulti.To_Bus == -1%}
                    <td>F</td>
                  {% else%}
                    <td>{{otherfaulti.To_Bus}}</td>
                  {% endif%}
                  <td>{{otherfaulti.Phase_A_Mag|floatformat:-4}}</td>
                  <td>{{otherfaulti.Phase_A_Deg|floatformat:-4}}</td>
                  <td>{{otherfaulti.Phase_B_Mag|floatformat:-4}}</td>
                  <td>{{otherfaulti.Phase_B_Deg|floatformat:-4}}</td>
                  <td>{{otherfaulti.Phase_C_Mag|floatformat:-4}}</td>
                  <td>{{otherfaulti.Phase_C_Deg|floatformat:-4}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <a class="btn btn-primary" href="{% url 'sequence' %}">이전</a>
          <a class="btn btn-primary" href="{% url 'result' %}">종합</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock content %}

