{% extends './base.html'%}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'cal/css/solution_img.css'%}">
{% endblock css %}

{% block content %}
<div class="main">
  <input type="radio" id="tab-1" name="show" checked/>
    <input type="radio" id="tab-2" name="show" />
    <div class="tab other">
      <label for="tab-1">Fault Sequence Voltage</label>
      <label for="tab-2">Fault Sequence Current</label>
    </div>
    <div class="content">
      <div class="content-dis">
        <div class="border">
          <div class="container  fault">
            <table class="table table-striped">
              <thead>
                <tr>
                  <td>Bus No</td>
                  <td>Zero Mag</td>
                  <td>Zero Deg</td>
                  <td>Positive Mag</td>
                  <td>Positive Deg</td>
                  <td>Negative Mag</td>
                  <td>Negatvie Deg</td>
                </tr>
              </thead>
              <tbody>
                {% for sequencev in sequencev %}
                <tr>
                  <td>{{sequencev.Bus_No}}</td>
                  <td>{{sequencev.Phase_A_Mag|floatformat:-4}}</td>
                  <td>{{sequencev.Phase_A_Deg|floatformat:-4}}</td>
                  <td>{{sequencev.Phase_B_Mag|floatformat:-4}}</td>
                  <td>{{sequencev.Phase_B_Deg|floatformat:-4}}</td>
                  <td>{{sequencev.Phase_C_Mag|floatformat:-4}}</td>
                  <td>{{sequencev.Phase_C_Deg|floatformat:-4}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <a class="btn btn-secondary prev" href="{% url 'zbus' %}">이전</a>
          <a class="btn btn-primary next" href="{% url 'phase' %}">다음</a>
          <hr>
          <img src="{% static 'cal/images/Phase.png'%}">
        </div>
      </div>
      <div class="content-dis">
        <div class="border">
          <div class="container  fault">
            <table class="table table-striped">
              <thead>
                <tr>
                  <td>Line Type</td>
                  <td>From Bus</td>
                  <td>To Bus</td>
                  <td>Zero Mag</td>
                  <td>Zero Deg</td>
                  <td>Positive Mag</td>
                  <td>Positive Deg</td>
                  <td>Negative Mag</td>
                  <td>Negatvie Deg</td>
                </tr>
              </thead>
              <tbody>
                {% for i in sequencei %}
                <tr>
                  {% if i.line_type == 0 %}
                    <td>G</td>
                  {% else %}
                    {% if i.line_type == 1 %}
                      <td>T/L</td>
                    {% else %}
                      {% if i.line_type == 2 %}
                        <td>T(1)</td>
                      {% else %}
                        {% if i.line_type == 3%}
                          <td>T(2)</td>
                        {% else %}
                          {% if i.line_type == 4%}
                            <td>T(3)</td>
                          {% else %}
                            {% if i.line_type == 5%}
                              <td>T(4)</td>
                            {% else %}
                              {% if i.line_type == 6%}
                                <td>T(5)</td>
                              {% else %}
                                {% if i.line_type == 8 %}
                                  <td>Fault</td>
                                {% else%}
                                  <td>T(6)</td>
                                {% endif %}
                              {% endif %}
                            {% endif %}
                          {% endif %}
                        {% endif %}
                      {% endif %}
                    {% endif %}
                  {% endif %}
                  <td>{{i.From_Bus}}</td>
                  {% if i.To_Bus == -1%}
                    <td>F</td>
                  {% else%}
                    <td>{{i.To_Bus}}</td>
                  {% endif%}
                  <td>{{i.Phase_A_Mag|floatformat:-4}}</td>
                  <td>{{i.Phase_A_Deg|floatformat:-4}}</td>
                  <td>{{i.Phase_B_Mag|floatformat:-4}}</td>
                  <td>{{i.Phase_B_Deg|floatformat:-4}}</td>
                  <td>{{i.Phase_C_Mag|floatformat:-4}}</td>
                  <td>{{i.Phase_C_Deg|floatformat:-4}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <a class="btn btn-secondary prev" href="{% url 'zbus' %}">이전</a>
          <a class="btn btn-primary next" href="{% url 'phase' %}">다음</a>
          <hr>
          <img src="{% static 'cal/images/Phase.png'%}">
        </div>
      </div>
    </div>
  <div>
</div>
{% endblock content%}