{% extends './base.html'%}
{% load static %}

{% block content %}
<div class="main">
  <input type="radio" id="tab-1" name="show" checked/>
    <input type="radio" id="tab-2" name="show" />
    <div class="tab other">
      <label for="tab-1">Slider Bus Data</label>
      <label for="tab-2">Slider Line Data</label>
    </div>
    <div class="content">
      <div class="content-dis">
        <div class="border">
          <div class="container  fault">
            <table class="table table-striped">
              {% if condition.is_flow %}
                <thead>
                  <tr>
                    <td>Bus No</td>
                    <td>Voltage Mag</td>
                    <td>Voltage Deg</td>
                    <td>Generator MW</td>
                    <td>Generator Mvar</td>
                    <td>Load MW</td>
                    <td>Load Mvar</td>
                  </tr>
                </thead>
                <tbody>
                  {% for i in sliderbus %}
                  <tr>
                    <td>{{i.Bus_No}}</td>
                    <td>{{i.Voltage_Mag|floatformat:-4}}</td>
                    <td>{{i.Voltage_Deg|floatformat:-4}}</td>
                    <td>{{i.Generator_MW|floatformat:-4}}</td>
                    <td>{{i.Generator_Mvar|floatformat:-4}}</td>
                    <td>{{i.Load_MW|floatformat:-4}}</td>
                    <td>{{i.Load_Mvar|floatformat:-4}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              {% else %}
                <thead>
                  <tr>
                    <td>Bus No</td>
                    <td>Voltage Mag</td>
                    <td>Voltage Deg</td>
                  </tr>
                </thead>
                <tbody>
                  {% for i in sliderbus %}
                  <tr>
                    <td>{{i.Bus_No}}</td>
                    <td>{{i.Voltage_Mag|floatformat:-4}}</td>
                    <td>{{i.Voltage_Deg|floatformat:-4}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              {% endif %}
            </table>
          </div>
        </div>
      </div>
      <div class="content-dis">
        <div class="border">
          <div class="container  fault">
            <table class="table table-striped">
              {% if condition.is_not_symmetry %}
                <thead>
                  <tr>
                    <td>From Bus</td>
                    <td>To Bus</td>
                    <td>R(pu)</td>
                    <td>X(pu)</td>
                    <td>B(pu)</td>
                    <td>negative_R(pu)</td>
                    <td>negative_X(pu)</td>
                    <td>zero_R(pu)</td>
                    <td>zero_X(pu)</td>
                    <td>Xn(pu)</td>
                    <td>zero_B(pu)</td>
                    <td>line_type</td>
                  </tr>
                </thead>
                <tbody>
                  {% for i in sliderline %}
                  <tr>
                    <td>{{i.From_bus}}</td>
                    <td>{{i.To_bus}}</td>
                    <td>{{i.R|floatformat:-4}}</td>
                    <td>{{i.X|floatformat:-4}}</td>
                    <td>{{i.B|floatformat:-4}}</td>
                    <td>{{i.negative_R|floatformat:-4}}</td>
                    <td>{{i.negative_X|floatformat:-4}}</td>
                    <td>{{i.zero_R|floatformat:-4}}</td>
                    <td>{{i.zero_X|floatformat:-4}}</td>
                    <td>{{i.Xn|floatformat:-4}}</td>
                    <td>{{i.zero_B|floatformat:-4}}</td>
                    <td>{{i.line_type|floatformat:-4}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              {% else %}
                <thead>
                  <tr>
                    <td>From Bus</td>
                    <td>To Bus</td>
                    <td>R(pu)</td>
                    <td>X(pu)</td>
                    <td>B(pu)</td>
                  </tr>
                </thead>
                <tbody>
                  {% for i in sliderline %}
                  <tr>
                    <td>{{i.From_bus}}</td>
                    <td>{{i.To_bus}}</td>
                    <td>{{i.R|floatformat:-4}}</td>
                    <td>{{i.X|floatformat:-4}}</td>
                    <td>{{i.B|floatformat:-4}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              {% endif %}
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if fault_con.is_flow %}
    <a class="btn btn-primary" href="{% url 'flow' %}">이전</a>
  {% else %}
    <a class="btn btn-primary" href="{% url 'initial' %}">이전</a>
  {% endif %}
  {% if fault_con.fault_type == 0 %}
    <a class="btn btn-primary" href="{% url 'ybus' %}">다음</a>
  {% else %}
    <a class="btn btn-primary" href="{% url 'transformer' %}">다음</a>
  {% endif %}
  {% if faultcon.fault_type == 0 %}
    {% if fault_con.is_shunt %}
      {% if fault_con.is_load_effect %}
        <img src="{% static 'cal/images/ybusbload.png'%}">
      {% else %}
        <img src="{% static 'cal/images/ybusb.png'%}">
      {% endif %}
    {% else %}
      {% if fault_con.is_load_effect %}
        <img src="{% static 'cal/images/ybusload.png'%}">
      {% else %}
        <img src="{% static 'cal/images/ybus.png'%}">
      {% endif %}
    {% endif%}
  {% else%}
    <img src="{% static 'cal/images/zero-sequence.png'%}">
  {% endif %}
</div>
{% endblock content%}