{% extends './base.html'%}
{% load static %}

{% block content %}
<div class="main">
  <input type="radio" id="tab-1" name="show" checked/>
    <div class="tab other">
      <label for="tab-1">Impedence Data</label>
    </div>
    <div class="content">
      <div class="content-dis">
        <div class="border">
          <div class="container fault">
            <table class="table table-striped">
              <thead>
                <tr>
                  <td>From Bus</td>
                  <td>To Bus</td>
                  <td>R+(pu)</td>
                  <td>X+(pu)</td>
                  <td>B+(pu)</td>
                  <td>R-(pu)</td>
                  <td>X-(pu)</td>
                  <td>R<sub>0</sub>(pu)</td>
                  <td>X<sub>0</sub>(pu)</td>
                  <td>B<sub>0</sub>(pu)</td>
                </tr>
              </thead>
              <tbody>
                {% for i in faultlinedata %}
                <tr>
                  <td>{{i.From_Bus}}</td>
                  <td>{{i.To_Bus}}</td>
                  <td>{{i.R|floatformat:-4}}</td>
                  <td>{{i.X|floatformat:-4}}</td>
                  <td>{{i.B|floatformat:-4}}</td>
                  <td>{{i.negative_R|floatformat:-4}}</td>
                  <td>{{i.negative_X|floatformat:-4}}</td>
                  <td>{{i.zero_R|floatformat:-4}}</td>
                  <td>{{i.zero_X|floatformat:-4}}</td>
                  <td>{{i.zero_B|floatformat:-4}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          {% if faultcon.is_bus_fault %}
            {% if faultcon.is_flow %}
              <a class="btn btn-primary" href="{% url 'flow' %}">이전</a>
            {% else %}
              <a class="btn btn-primary" href="{% url 'initial' %}">이전</a>
            {% endif %}
          {% else %}
            <a class="btn btn-primary" href="{% url 'slider' %}">이전</a>
          {% endif %}
          <a class="btn btn-primary" href="{% url 'ybus' %}">다음</a>
        </div>
      </div>
    </div>
  </div>
  
  {% if faultcon.is_shunt %}
    {% if faultcon.is_load_effect %}
      <img src="{% static 'cal/images/ybusbload.png'%}">
    {% else %}
      <img src="{% static 'cal/images/ybusb.png'%}">
    {% endif %}
  {% else %}
    {% if faultcon.is_load_effect %}
      <img src="{% static 'cal/images/ybusload.png'%}">
    {% else %}
      <img src="{% static 'cal/images/ybus.png'%}">
    {% endif %}
  {% endif%}
</div>
{% endblock content%}